<ul>
  <% if Admin::ShowcaseHomesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_showcase_homes_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_showcase_home_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::ShowcaseHomesController.sortable? and ShowcaseHome.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Showcase Homes"),
                 admin_showcase_homes_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Showcase Homes"),
                 admin_showcase_homes_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>